<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .login-form{
            display:grid;
            gap: 12px;
        }
    </style>
</head>
<body>
    <!-- form only supports get and post but not put and delete. Limitation of HTML -->
    <!-- for login, use post coz it is more secure -->
    <form class="login-form" action="{{url_for('users_bp.after_login')}}" method="post" >
            <input name="username" type="text" placeholder="username">
            <input name="password" type="password" placeholder="password">
            <button type="submit">Submit</button>
            <!-- submit it calls the action  -->
    </form>
</body>
</html>